.DS_Store
/notes/
/test/
cadvisor.yaml
cadvisor-cli.yaml
mesos.yaml
mesos-cli.yaml
etc-collectd/collectd.conf
# ignore test config files
etc-collectd/conf.d/*.conf
# except the cadvsior config
!etc-collectd/conf.d/cadvisor.conf
# temporary files
tmp
