[Unit]
Description=CAdvisor
Requires=docker.service
After=docker.service
Before=collectd.service

[Service]
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStartPre=-/usr/bin/docker pull google/cadvisor

ExecStart=/usr/bin/docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --name=cadvisor google/cadvisor

ExecStop=/usr/bin/docker stop cadvisor

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
WamtedBy=collectd.target

[X-Fleet]
Global=true