[Unit]
Description=Collectd
Requires=docker.service
Requires=cadvisor.service
After=docker.service
After=cadvisor.service

[Service]
ExecStartPre=-/usr/bin/docker kill collectd
ExecStartPre=-/usr/bin/docker rm collectd
ExecStartPre=-/usr/bin/docker pull maier/collectd

ExecStart=/usr/bin/docker run --volume=/conf/etc-collectd:/etc/collectd --volume=/var/lib/docker/:/var/lib/docker:ro --name=collectd maier/cadvisor-collectd

ExecStop=/usr/bin/docker stop collectd

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true