<LoadPlugin "python">
    Globals true
</LoadPlugin>

<Plugin "python">
    ModulePath "/opt/collectd/python/"

    Import "mesos-slave"

    <Module "mesos-slave">
        Host "localhost"
        Port 5051
        Verbose false
        Version "0.21.0"
    </Module>
</Plugin>

