<LoadPlugin "python">
    Globals true
</LoadPlugin>

<Plugin "python">
    ModulePath "/opt/collectd/python/"

#    Import "mesos-master"
#    <Module "mesos-master">
#        Host "docker:gateway"
#        # Port 5050
#        TrackingName "mesos.master"
#        ConfigFile "/etc/collectd/mesos.yaml"
#        Separator "."
#    </Module>


#    Import "mesos-slave"
#    <Module "mesos-slave">
#        Host "docker:gateway"
#        # Port 5051
#        ConfigFile "/etc/collectd/mesos.yaml"
#        Separator "."
#    </Module>

</Plugin>

