#
# - for static ip and valid dns fwd/rev
#   uncomment next two lines
##Hostname
#FQDNLookup true
#
#
# - for dynamic ip and hostname
#   uncomment next two lines and put correct hostname between quotes
#Hostname "test.local"
#FQDNLookup false

# interval at which collectd will collect metrics
Interval 60

TypesDB "/usr/share/collectd/types.db"
TypesDB "/opt/collectd/cadvisor-types.db"
TypesDB "/opt/collectd/mesos-types.db"
Include "/etc/collectd/conf.d/*.conf"
