---
# mesos cli configuration
# documentation: https://github.com/maier/cadvisor-collectd/wiki/Configuring-Mesos

# master or slave
Role: "master"

#host: "ip address"
#host: "docker/container_name_or_id"
Host: "docker:gateway"

# no port defined, use default based on role
# default master
#Port: 5050
# default slave
#Port: 5051

Separator: "."

ConfigFile: "/etc/collectd/mesos.yaml"

TrackingName: "mesos.master"
